@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  color: #4d4d4d;
  background: #fff;
}

.arrow {
  opacity: 0;
  position: absolute;
      left: 48%;
      top: 97.5%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}


.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px; 
  position: absolute;
      top: 0;
      left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}


@keyframes arrow-movement {
  0% { 
      opacity: 0;
      top: 94%;
  }
  70% {
      opacity: 1;
  }
  100% { 
      opacity: 0;
  }
}




#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}



p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Josefin Sans", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.title{
    color: #fff;
    font-size: 25px;
}


#fh5co-header,
.fh5co-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 100%;
}
#fh5co-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(53, 166, 222, 0.8);
}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2, #fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-family: "Josefin Sans";
  margin-bottom: 30px;
  font-size: 50px;


}
#fh5co-header .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  padding: 4px 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #fh5co-header .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #fh5co-header .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#fh5co-header .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}

.icon-linkedin2:hover {
    transition: 0.3s;
    color: #000;
}

.icon-mail:hover {
    transition: 0.3s;
    color: #000;
}

.icon-github2:hover {
    transition: 0.3s;
    color: #000;
}

#fh5co-header .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}


#fh5co-features h2 {
  color: #fff;
}
#fh5co-features .services-padding {
  padding: 7em 0;
}
#fh5co-features .feature-left {
  margin-bottom: 40px;
  float: left;
}
@media screen and (max-width: 992px) {
  #fh5co-features .feature-left {
    margin-bottom: 30px;
  }
}
#fh5co-features .feature-left .icon {
  display: table;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-features .feature-left .icon i {
  font-size: 50px;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  color: #FF9000 !important;
}
#fh5co-features .feature-left .feature-copy {
  width: 100%;
}
#fh5co-features .feature-left h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#fh5co-features .feature-left p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-features .feature-left p:last-child {
  margin-bottom: 0;
}
#fh5co-features .feature-left p a {
  color: #000 !important;
}

#fh5co-skills {
  background: rgba(53, 166, 222);
}

#fh5co-work {
  background: #fff;
}




#fh5co-about,
#fh5co-resume,
#fh5co-skills,
#fh5co-started,
#fh5co-work,
#fh5co-blog,
#fh5co-pricing,
#fh5co-contact {
  padding: 3em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-about,
  #fh5co-resume,
  #fh5co-skills,
  #fh5co-started,
  #fh5co-work,
  #fh5co-blog,
  #fh5co-pricing,
  #fh5co-contact {
    padding: 2em 0;
  }
}

#fh5co-started {
  border-bottom: none;
}

.fh5co-bg-dark  {
    background: rgba(53, 166, 222);
}


.info {
  margin: 0;
  padding: 0;
  width: 90%;
  float: left;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 3em;
  }
}
.info li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px 0;
}
.info li:first-child {
  padding-top: 0;
}
.info li .first-block {
  width: 40%;
  display: inline-block;
  float: left;
  color: #000;
  font-weight: bold;
}
.info li .second-block {
  width: 60%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

#fh5co-about .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#fh5co-about .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-about .fh5co-social-icons li a i {
  font-size: 20px;
}
#fh5co-about .fh5co-social-icons li a:hover {
  background: #FF9000;
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.circle {
  border-radius: 20px;
}

.genric-btn.default {
  color: #fff;
  background: rgba(53, 166, 222);
  font-size: 15px;
  border: 1px solid transparent;
}

.genric-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.);
    transform: scale(1.1);
}


.col-md-5 {
    font-size: 18px;
}

.fh5co-heading {
  margin-bottom: 3em;
}

.profskills {
  margin-top: 3em;
}

.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 3em;
}
.fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: rgba(53, 166, 222);
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}


#fh5co-skills .fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #fff;
}

.progress-wrap {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.progress-wrap h3 {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.progress-wrap h3 .name-left {
  float: left;
  color: #fff;
}
.progress-wrap h3 .value-right {
  float: right;
  color: #fff;
}

.progress {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
}

.progress-bar {
  background-color: #000000;
  height: 5px;
  display: block;
  box-shadow: none;
}
.progress-bar.progress-bar-1 {
  background-color: #0e476d !important;
}
.progress-bar.progress-bar-2 {
  background-color: #8f2014 !important;
}
.progress-bar.progress-bar-3 {
  background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
  background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
  background-color: #27ae60 !important;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 40px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}


.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .desc h3 {
  font-size: 25px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}
.work .desc span {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
@media screen and (max-width: 768px) {
  .work .desc {
    opacity: 1;
    color: #999999;
    background: rgba(255, 255, 255, 0.6);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.work:hover .desc {
  opacity: 0.7;
  background: #bdc9df;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.col-padding {
  padding: 6px !important;
  margin: 0px !important;
}



.js .animate-box {
  opacity: 0;
}
